page-detailspops {
    .toolbar-title-ios,
    .toolbar-title-md,
    .toolbar-title-wp {
        color: #3399ff !important;
        text-align: center !important;
    }
    .h2 {
        text-align: center;
    }
    .job-des {
        text-align: justify;
        text-justify: inter-word;
    }
    li {
        font-size: 13px;
    }
}